<h2>Edit user</h2>
<% form_for(@user) do |f| %>
  <%= render :partial => 'profileForm', :locals => {:f => f} %>
  
  <div class="actions"> <%= f.submit t(:update) %></div>
<% end %>
<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" 
     shape="circle"
     target="_blank">
     <%= t(:change)%>
  </a>
</div>