<% form_remote_for @micropost do |f| %>
  <%= f.error_messages %>
<div class="field" onkeypress="countLeftChars()">
    <%= f.text_area :content, :onkeyup=>"countLeftChars();"%>
  </div>
<div>
  <span id="charCounter"></span>
  <%= t(:char_left) %>
</div>
  <div>
    <%= f.submit t(:submit) %>
  </div>
<% end %>
