<% form_for @micropost do |f| %>
  <%= f.error_messages %>
<div class="field" onkeypress="countLeftChars()">
    <%= f.text_area :content, :onkeyup=>"countLeftChars();"%>
  </div>
<div>
  <span id="charCounter"></span>
  Characters Left
</div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
