<% if signed_in? %>
  <%= render 'pages/home_of_signed_user' %>
<% else %>
  <%= render 'pages/home_of_unsigned_user' %>
<% end %>
<%#*<p><strong>Here is a paragraph.</strong></p>%>
<%#*<p><strong><em>Here is a paragraph.</em></strong></p>%>
<%#*<h2 class="warningText hugeText">This heading is red.</h2>%>
<%#*<p class="warningText hugeText">This text is red.</p>%>
<%#*<p>This is a paragraph, <span class="warningText hugeText">and this text is red</span>.</p>%>
<%#*<p>I am a paragraph.</p>%>
<%#*<p>So am I.</p>%>
<%#*<div id="navigation">%>
<%#*<p>I am a paragraph within the navigation div.</p>%>
<%#*<p>Another paragraph within the navigation div.</p>%>
<%#*</div>%>
<p id="footer">&copy; <%=t(:rights) %></p>

<script type="text/javascript">

  function countLeftChars(){
    var textField = document.getElementById('micropost_content');
    var countChar = 140 - textField.value.length
    document.getElementById('charCounter').innerHTML = countChar;
  }
  countLeftChars();
</script>