<div id="footer">
  <ul class="navigation round">
    <li><%= link_to t(:about), about_path %></li>
    <li><%= link_to t(:contact), contact_path %></li>
    <li>
        <a href="http://www.toderistov.com" target="_blank">
           <%= t(:news)  %>
        </a>
    </li>
    <li>
      <a href="http://www.railstutorial.org" target="_blank">
        <%= t(:rails_tut)  %>
      </a>
    </li>
  </ul>
</div>
